.table-view {

    -fx-background-color: white;

    -fx-background-radius: 15;

    -fx-border-radius: 15;

    -fx-border-color: #dbeafe;

    -fx-padding: 5;
}

.table-view .column-header-background {

    -fx-background-color: linear-gradient(to right, #ff5858, #f857a6);

    -fx-background-radius: 15 15 0 0;
}

.table-view .column-header {

    -fx-background-color: transparent;
}

.table-view .column-header .label {

    -fx-text-fill: white;

    -fx-font-family: "Montserrat";

    -fx-font-size: 14;

    -fx-font-weight: bold;
}

.table-row-cell {

    -fx-background-color: white;

    -fx-border-color: transparent transparent #f1f5f9 transparent;

    -fx-font-family: "Montserrat";

    -fx-font-size: 13;

    -fx-text-fill: #0f172a;
}

.table-row-cell:hover {

    -fx-background-color: #eff6ff;
}

.table-row-cell:selected {

    -fx-background-color: #febfe4;
}

.table-cell {

    -fx-alignment: CENTER_LEFT;

    -fx-padding: 10;
}

.scroll-bar:vertical {

    -fx-background-color: transparent;
}


.scroll-bar:horizontal {

    -fx-background-color: transparent;
}


.scroll-bar .thumb {

    -fx-background-color: #febfe4;

    -fx-background-radius: 10;
}